$color-brown: #96442F;
$color-black: #000000;
$color-white: #ffffff;
$color-flesh: #BAB0A7;
$color-swan-white: #7C6E67;

$font-body: 'Quicksand', sans-serif;
$font-lora: 'Lora', serif;
a {
  color: $color-white;
}
body {
  font-family: $font-body;
  line-height: 1.245;
  font-weight: 400;
  font-size: 1rem;
  color: $color-white;
  overflow-x: hidden;
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
::selection {
  background: rgba(150, 68, 47, .5);
  color: $color-brown;
}
h1, h2 {
  font-family: $font-lora;
}
h2 {
  font-size: 3.25rem;
}
h5 {
  font-size: 1.75rem;
  margin: 1.85rem 0;
  line-height: 2rem;
}
h4 {
  font-family: $font-lora;
  font-size: 1.5rem;
}
h1 {
  // font-size: 7rem;
  font-size: clamp(50px, 8vw, 7.5rem);
  color: $color-white;
}
h3 {
  font-size: 2.2rem;
}
.text-black {
  color: $color-black;
}
.text-center {
  text-align: center;
}
p {
  font-family: $font-body;
  font-size: 1.45rem;
  line-height: 2.25rem;
  margin: 1.85rem 0;
  &.font-small {
    font-size: 1.25rem;
  }
}
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}
.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-direction: column;
}
._introduction { 
  background-color: #9E4831;
  .badge {
    background-color: #9E4831;
  }
}
._wedding-day { 
  background-color: #B99470; 
  .badge {
    background-color: #B99470;
  }
}
._venue { 
  background-color: #69735A; 
  .badge {
    background-color: #69735A;
  }
}
._join-us { 
  background-color: #B97049; 
  .badge {
    background-color: #B97049;
  }
}
._what-to-wear { 
  background-color: $color-flesh; 
  .badge {
    background-color: $color-flesh;
  }
}
._gift { 
  background-color: #B99470; 
  .badge {
    background-color: #B99470;
  }
}
._faq, ._countdown { 
  background-color: #F2E9DD; 
  color: $color-swan-white;
  .badge {
    background-color: #F2E9DD;
    color: $color-swan-white;
  }
  .btn {
    border-color:$color-swan-white;
    color: $color-swan-white;
  }
}
._countdown {
  .btn {
    border-color: #7c311e;
    color: #ffffff;
    background-color: #96442F;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: #8B4807 #DFE9EB;
}
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #DFE9EB;
}
*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}
*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #C1C1C1;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #a7a6a6;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #a7a6a6;
}
.navbar,
.navbar-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(158,72,49,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  .container {
    background-color: transparent;
  }
}
nav {
  ul {
    display: flex;
    gap: 3rem;
    justify-content: center;
    li {
      a {
        color: $color-white;
        text-decoration: none;
        font-weight: 500;
        display: block;
        padding: 12px 0;
        font-size: 14px;
        @include transition(all ease-in-out 180ms);
        &:hover {
          text-shadow: $color-white 2px 0 11px;
        }
      }
      &:last-child {
        a {
          width: 106px;
          height: 43px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: #9E4831;
          border-radius: 50px;
          text-transform: uppercase;
        }
      }
    }
  }
}


._hero {
  background-color: #F2E9DD; 
  z-index: 1; 
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(185, 112, 73, 55%) 0%, rgba(185, 112, 73, 35%) 30%, rgba(185, 112, 73, 35%) 86%);
    z-index: 1;
  }
  .header-details {
    z-index: 1;
    padding: 0 30px;
    h3 {
      color: $color-white;
    }
    h1 {
      position: relative;
      text-shadow: rgba(104, 42, 26, 30%) 1px 5px 7px;
      margin-bottom: 25px;
      &::after {
        position: absolute;
        content: "";
        display: block;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
        width: 170px;
        height: 26px;
        background-size: 100%;
        background-image: url(../images/ornamen-18.png);
        background-repeat: no-repeat;
      }
    }
  }
  .header__video {
    background-color: transparent;
    background-image: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .header__video video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    margin: auto;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    z-index: -1;
  }
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1040px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 5%);
}
.badge {
  font-family: $font-lora;
  font-size: 1.5rem;
  background-color: #F2E9DD;
  display: inline-flex;
  height: 49px;
  align-items: center;
  justify-content: center;
  color: $color-white;
  padding: 0 32px;
  border-radius: 50px;
  &.wbg {
    background-color: rgba(0,0,0,0.07) !important;
  }
}
.btn {
  font-family: $font-lora;
  background-color: transparent;
  border: 1px solid $color-white;
  display: inline-flex;
  height: 62px;
  align-items: center;
  justify-content: center;
  color: $color-white;
  padding: 0 1rem;
  border-radius: 50px;
  font-family: $font-body;
  font-size: 1.25rem;
  min-width: 232px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    @include transition(all linear 200ms);
    background-color: rgba(255, 255, 255, 15%);
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
  &.btn-white {
    min-width: 208px;
    box-shadow: rgba(0, 0, 0, 20%) 2px 5px 18px -1px, rgba(0, 0, 0, 15%) 2px 2px 10px -3px;
    color: #333333;
    height: 57px;
    font-size: 19px;
    font-family: Arial;
    font-weight: 600;
    background-color: #f5f5f5;
    overflow: inherit;
    &:before {
      display: none;
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-white;
      z-index: -1;
      border-radius: 50px;
      height: 111%;
      width: 104%;
      border: 1px solid #d2d2d2;
      opacity: 0;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
}
.wedding-details {
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  .countdown {
    font-family: $font-lora;
    color: $color-brown;
    margin-top: .5rem;
    display: block;

    line-height: 1em;
    color: $color-brown;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 112px;
    p {
      font-family: $font-lora;
      font-size: 44px;
    }
  }
}
.wedding-cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
}
.color-palette {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin: 1.85rem 0;
  li {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    border: 1px solid #F2E9DD;
    display: block;
    @include transition(all ease-in-out 180ms);
    &:hover {
      transform: scale(1.17);
    }
  }
}
.foating-flower {
  position: absolute;
  z-index: 1;
}
.flower-left,
.flower-right {
  opacity: 0;
  @include transition(all cubic-bezier(0.55, 0.09, 0.68, 0.53) 300ms);
}
.flower-left {
  bottom: 50px;
  left: 0;
  transform: translateX(-45px);
  transition-delay: 600ms;
}
.flower-right {
  top: 50px;
  right: 0;
  transform: translateX(45px);
  transition-delay: 680ms;
}
._introduction,
._venue {
  .flower-left {
    left: -34px;
  }
  .flower-right {
    right: -53px;
  }
}
._wedding-day {
  .flower-left {
    left: -74px;
  }
  .flower-right {
    right: -73px;
  }
}
._join-us {
  .flower-left {
    left: -58px;
  }
  .flower-right {
    right: -68px;
  }
}
._what-to-wear {
  .flower-left {
    left: -78px;
  }
  .flower-right {
    right: -128px;
  }
}
._gift {
  .flower-left {
    left: -98px;
  }
  .flower-right {
    right: -34px;
  }
}
._faq {
  .container-radius {
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    padding-bottom: 265px;
    padding-top: 265px;
  }
  .flower-left {
    left: -98px;
    bottom: 0;
  }
  .flower-right {
    right: -77px;
  }
  .breadcrumbs {
    border-color: $color-flesh;
  }
  &.section-inner-page {
    .icon.icon-arrow-back {
      filter: invert(46%) sepia(17%) saturate(330%) hue-rotate(335deg) brightness(89%) contrast(81%);
    }
    a {
      color: $color-swan-white;
    }
    .flower-right {
      right: 0;
      transform: rotateZ(-34deg);
      top: 100px;
    }
    .flower-left {
      left: 0;
      bottom: auto;
      top: 100px;
    }
    h2 {
      color: $color-brown;
    }
  }
}
.container-transparent {
  background-color: transparent;
}
.fade-in {
  opacity: 0;
  @include transition(all cubic-bezier(0.55, 0.09, 0.68, 0.53) 300ms);
  transition-delay: 580ms;
  &.is-visible {
    opacity: 1;
  }
}
section.active {
  .fade-in {
    opacity: 1;
  }
  .flower-right {
    transform: translateX(0px);
    opacity: 1;
  }
  .flower-left {
    transform: translateX(0px);
    opacity: 1;
  }
}
// FULLPAGE SCROLL
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
  height: 100%;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
  overflow: scroll;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}

#fp-nav.right {
  right: 17px;
}

#fp-nav.left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}

.fp-slidesNav.bottom {
  bottom: 17px;
}

.fp-slidesNav.top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}

._countdown {
  background-image: url('../images/prenup_1.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(249,220,183);
    background: linear-gradient(4deg, rgba(249,220,183,0.8071603641456583) 0%, rgba(242,233,221,0.8) 100%);
    z-index: -1;
  }
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}
.mt-5 {
  margin-top: 5rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-4 {
  margin-bottom: 4rem !important;
}
.mb-5 {
  margin-bottom: 5rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.min-h-100 {
  min-height: 100%;
}
.wedding-detail-table {
  width: 100%;
  background-color: rgba(0,0,0,0.065);
  border-radius: 20px;
  position: relative;
  display: block;
  padding: 1rem 0;
  margin-top: 4.5rem;
  .detail-item {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    border-bottom: 1px dashed #F2E9DD;
    @include transition(all ease-in-out 180ms);
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: #694d33;
    }
  }
  p {
    font-family: $font-lora;
    font-size: 1.5rem;
    line-height: 1.27em;
    flex: 1;
    margin: 0;
    padding: 0 1rem;
    &:first-child {
      text-align: center;
    }
  }
}
.icon {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  &.icon-arrow-back {
    background-image: url(../images/arrow_back_ios_new.svg);
    filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(19deg) brightness(92%) contrast(100%);
  }
}
.breadcrumbs {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #F2E9DD;
  padding-bottom: 0.5rem;
  margin-top: 0.75rem;
  margin-bottom: 85px;
  a {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    line-height: 1em;
    padding: 0.72rem 0;
    color: $color-white;
    text-decoration: none;
    @include transition(all ease-in-out 180ms);
    &:hover {
      opacity: 0.65;
    }
    p {
      margin: 0;
      font-size: 1rem;
    }
  }
}
.section-inner-page {
  .container-transparent {
    padding-bottom: 3rem;
    margin-top: inherit;
  }
}
._wedding-day,
._what-to-wear {
  &.section-inner-page {
    .flower-right {
      right: 0;
      opacity: 1;
    }
    .flower-left {
      left: 0;
      bottom: auto;
      top: 100px;
      opacity: 1;
      transform: translateX(0);
    }
  }
}
._venue {
  &.section-inner-page {
    .flower-right {
      right: 0;
      transform: rotateZ(-34deg);
      top: 100px;
      opacity: 1;
    }
    .flower-left {
      left: 0;
      bottom: auto;
      top: 100px;
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.wedding-detail-content {
  width: 100%;
  background-color: rgba(0,0,0,0.065);
  border-radius: 20px;
  position: relative;
  display: block;
  padding: 2.5rem 3.75em;
  margin-top: 4.5rem;
}
ul.listing {
  padding-left: 2.2rem;
  list-style: unset;
  li {
    font-family: "Quicksand",sans-serif;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}
.strong {
  font-weight: 600;
}
.wedding-detail-content {
  p {
    margin-top: 1.25rem;
  }
}
.max-w-90 {
  max-width: 90%;
}
.accommodation-detail {
  text-align: center;
  width: 100%;
  padding: 50px 0;
  border-top: 1px dashed $color-flesh;
  h4 {
    margin-bottom: .25rem;
  }
}
.border-bottom {
  border-bottom: 1px dashed $color-flesh;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem;
  .img-wrapper {
    height: 295px;
    overflow: hidden;
    border-radius: 5px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }
}
.dresscode-img {
  img {
    margin: auto;
  }
}

.shake-effect {
  &.is-visible {
    animation: shake 200ms 2 linear;
    -moz-animation: shake 200ms 2 linear;
    -webkit-animation: shake 200ms 2 linear;
    -o-animation: shake 200ms 2 linear;
  }
}
@keyframes shake {
  0% {
    transform: translate(7px, 0);
  }
  50% {
    transform: translate(-7px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(7px, 0);
  }
  50% {
    -moz-transform: translate(-7px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}
.accordion-item {
  width: 100%;
  background-color: #EEE2D2;
  border-radius: 20px;
  position: relative;
  display: block;
  padding: 0 3.75em;
  margin-top: 1.75rem;
  .accordion-head {
    cursor: pointer;
    padding: 2.2rem 0;
    position: relative;
    &:hover {
      color: $color-brown;
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      right: 0;
      width: 18px;
      height: 18px;
      background-size: 100%;
      background-image: url(../images/arrow_back_ios_new.svg);
      background-repeat: no-repeat;
      filter: invert(50%) sepia(12%) saturate(456%) hue-rotate(334deg) brightness(97%) contrast(85%);
    }
  }
  .accordion-detail {
    border-top: 1px dashed #B1A79F;
    padding-top: 1rem;
    display: none;
    a {
      color: $color-swan-white;
      text-decoration: underline;
    }
  }
  &.active {
    .accordion-head {
      padding-bottom: 1rem;
      &::after {
        top: 61%;
        transform: translateY(-50%) rotate(90deg);
      }
    }
    .accordion-detail {
      display: block;
      padding-bottom: 1.85rem;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
#days-until {
  display: none;
}
.w-100 {
  width: 100%;
}
#menu {
  position: fixed;
  display: flex;
  bottom: 13px;
  right: 15px;
  flex-direction: revert;
  gap: 9px;
  z-index: 999;
  li {
    overflow: hidden;
    width: 19px;
    height: 3px;
    display: block;
    border-radius: 3px;
    font-size: 0;
    text-indent: -999px;
    background-color: rgba(0,0,0,0.2);
    @include transition(all linear 180ms);
    &.active {
      background-color: rgba(0,0,0,1);
    }
  }
}
.fp-overflow {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-direction: column;
  overflow-x: hidden;
}
.note {
  text-align: center;
}
